body {
    background-color: darkred;
    color: whitesmoke;
}
header, main, nav, footer {
    text-align: center;
}
nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}
nav a:hover {
    border-bottom: 2px goldenrod solid;
    font-size: 2em;
    transition: .9s;
}
main {
    display: flex;
    justify-content: center;
}
footer {
    color: gray;
    font-size: 10pt;
}
td { 
    margin: 10px auto;
    font-size: 1.3em;
}
td strong{
    color: orange;
}
.table-header{
    background-color: darkcyan;
    border-color: black;
    border-width: 2px;
}
#table-row{
    background-color: darkred;
    border-color: black;
    border-width: 2px;
}
ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
.hobby {
    color: blueviolet;
    background-color: black;
}