body {
    background-color: #023e8a;
    color: #ade8f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.6;
}
header {
    font-weight: bold;
    text-decoration: underline;
    padding: 6px;
    padding-bottom: 2px;
}
form, footer {
    align-items: center;
}
form {
    width: 2500px;
    height: auto;
    margin: 8px auto;
    border: 2px solid #03045e;
    border-radius: 8px;
    background-color: #023e8a;
    box-shadow: 2px 2px 6px black;
}