body {
    background-color: #588157;
    color: #dad7cd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.6;
}
header {
    font-weight: bold;
    text-decoration: underline;
    padding: 6px;
    padding-bottom: 2px;
}
form, footer {
    align-items: center;
}
form {
    width: 500px;
    height: auto;
    margin: 8px auto;
    border: 2px solid #3a5a40;
    border-radius: 8px;
    background-color: #6a994e;
    box-shadow: 2px 2px 6px black;
}
button {
    background-color: #a3b18a;
    color: #dad7cd;
    border: none;
    transition: all 0.3s ease;
    width: 150px;
    height: 75px;
    font-size: 18pt;
}

button:hover {
    background-color: #a7c957;
    transform: translateY(-2px);
    box-shadow: 2px 4px 8px black;
    cursor: pointer;
}

button:active {
    background-color: #6a994e;
    transform: translateY(0);
    box-shadow: 2px 2px 6px black;
}