body {
    background-color: darkblue;
    color: whitesmoke;
}
main{
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
}
header{
    text-align: center;
    padding: 6px;
    padding-bottom: 2px;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: underline;
}
nav a {
    padding: 12px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}
nav a.active {
    font-size: 2.0em;
    font-weight: bold;
    text-decoration: underline;
}
nav a:not(.active):hover{
    font-size: 2.0em;
    font-weight: bold;
    transition: 0.8s;
}
.algorithm {
    flex: 1;
    padding: 15px;
    border: 2px solid #555;
    border-radius: 8px;
    background-color: blue;
}
.algorithms{
    display: flex;
    gap: 10px;
}