body {
    background-color: #023e8a;
    color: #ade8f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
.header{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding: 6px;
    padding-bottom: 2px;
}
