body {
    background-color: #023e8a;
    color: #ade8f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
head {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding: 6px;
    padding-bottom: 2px;
}
.stat {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 8px auto;
    border: 2px solid #03045e;
    border-radius: 8px;
    background-color: #023e8a;
    box-shadow: 2px 2px 6px black;
}
main, footer {
    align-items: center;
}

#guessBtn {
    background-color: #0077b6;
    color: #ade8f4;
    border: none;
    transition: all 0.3s ease;
}

#guessBtn :hover {
    background-color: #0096c7;
    transform: translateY(-2px);
    box-shadow: 2px 4px 8px black;
    cursor: pointer;
}

#guessBtn :active {
    background-color: #023e8a;
    transform: translateY(0);
    box-shadow: 2px 2px 6px black;
}

#resetBtn {
    background-color: #0077b6;
    color: #ade8f4;
    border: none;
    transition: all 0.3s ease;
}

#resetBtn :hover {
    background-color: #0096c7;
    transform: translateY(-2px);
    box-shadow: 2px 4px 8px black;
    cursor: pointer;
}

#resetBtn :active {
    background-color: #023e8a;
    transform: translateY(0);
    box-shadow: 2px 2px 6px black;
}